@import url(../fonts/tajwal.css);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-align: center;
    direction: rtl;
    font-family: tajawalregular, sans-serif
}

body,
html {
    height: 100%;
    background: #f5f5f7;
    background-size: 100px
}

.container {
    height: auto;
    overflow: scroll
}

.app-bot {
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    border-radius: 20px;
}

.screen {
    margin: 0px auto;
    position: relative;
    min-width: 320px;
    max-width: 500px;
    width: 100%;
    min-height: 100dvh;
    background-size: 50%;
    background-position: top center;
    height: auto;
    padding: 10px 15px;
    overflow: hidden
}

@keyframes widthfull {
    to {
        width: 100%;
    }
}

@keyframes margin {
    to {
        margin-top: 16px;
    }
}

.card {
    position: relative;
    width: 100%;
    margin: 16px auto;
    box-shadow: 0 0 5px #8db7f0, 0 5px 5px #8db7f0;
    border-radius: 15px;
    backdrop-filter: blur(20px);
    padding: 10px;
    /* margin-top: -30px ; */
    /* animation: margin 0.5s  forwards; */
    overflow: hidden;
    background: linear-gradient(120deg, #dde8fb, transparent, #ddfbee);
}


#profiles .card {
    width: 80%;
    animation: widthfull 0.2s forwards, margin 0.5s forwards;
    box-shadow: 0 0 15px #bdbdbd87;

    background: #fbfbfb;
}

.coloredicon {
    border-radius: 100%;
    position: relative;
    background-size: 80% 80%;
}

@keyframes opacity {
    from {
        opacity: 0;
    }

    to {
        opacity: 0.5;
    }
}


@keyframes scale {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(2);
    }
}

.coloredicon::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    z-index: 2;
    border-radius: 100%;
    height: 100%;
    animation: opacity 2s linear infinite alternate;
    background: #fff;
}

.logbtn {
    gap: 5px;
    justify-content: center;
    align-items: center;
    margin: 10px auto 20px
}

.logbtn button {
    height: 50px;
    position: static;
    border-radius: 10px;
    background: #05bdf1;
    color: #fff;
    border: 0;
    width: 130px
}

.coloredicon::after {
    position: absolute;
    top: -5%;
    left: -5%;
    content: "";
    width: 100%;
    z-index: 100;
    border-radius: 100%;
    height: 100%;
    animation: opacity 2s linear infinite alternate, scale 2s linear infinite;
    border: 3px solid #d8d8d8;
    display: none;
}

.c {
    margin: 10px auto;
    display: block;
}

.w70 {
    width: 60%;
    font-size: 12px;
}

.r {
    border-radius: 20px;
}


.netdeg {
    position: absolute;
    right: 5px;
    width: 40px;
    height: 20px;
    background: url(../img/net.svg) no-repeat;
}

.online {
    position: absolute;
    left: 15px;
    border-radius: 15px;
    top: 8px;
    color: green;
    width: 70px;
    background: #b4e8db;
}

.speed,
.chek {
    width: 40px;
    height: 40px;
    left: 15px;
    top: 8px;
    background: url(../img/sped.svg) center no-repeat;
    background-size: 70% 80%;
    background-color: #119c65;
    position: absolute;

}

.chek {
    right: 15px;
    background: url(../img/check.svg) center no-repeat;
    background-size: 70% 80%;
    background-color: #119c65;

}

.update {
    width: 30px;
    height: 30px;
    background: url(../img/wifi.svg) center no-repeat;
    background-size: 70% 80%;
    background-color: #9542cf;
}

.p {
    padding: 8px;
}

.wb {
    background: #f6f6f8;
}

.s {
    box-shadow: 0 0 5px #b5b5b5;
}

.wifi {
    width: 70px;
    height: 70px;
    margin: 0px auto;
    background: url(../img/wifi.svg) center no-repeat;
    background-size: 70% 80%;

    background-color: #3885ff;
}

.bkg {
    background: linear-gradient(100deg, #c7d7f1, #ddcfe3);
}

.hi {
    font-weight: 1000;
    display: block;
    margin: 5px auto;
    overflow: hidden;
    font-size: 50px;
    text-wrap: nowrap;
    position: relative;
    background: linear-gradient(90deg, #350166, #350166, #a260f6, #e9439f);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent
}


.speed-chose {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 15px auto;
}

.speed-chose input[type="radio"] {
    display: none;
}


.speed-chose label {
    width: 45%;
    padding: 8px;
    margin: 0px;
    border-radius: 20px;
    font-size: 13px;
    border: 2px solid;
}

.screen-content {
    z-index: 1;
    margin: 10px auto;
    height: auto;
}

.speed-chose label:nth-child(2) {
    background: #d0fcdd;
    color: green;
}

.speed-chose label:nth-child(4) {
    background: #d0e5fc;
    color: blue;
}

.speed-chose label:nth-child(6) {
    background: #fcedd0;
    color: rgb(170, 111, 0);
}

.speed-chose label:nth-child(8) {
    background: #ffe4e4;
    color: red;
}

.speed-chose label:nth-child(10) {
    background: #f6e4ff;
    color: rgb(195, 0, 255);
}


.speed-chose label:nth-child(12) {
    background: #fff0e4;
    color: rgb(0, 51, 255);
}


.speed-chose input[type="radio"]:checked+label {
    background: #3c83f7;
    color: #fff;
    border: 0;
}

.cld {
    margin: 10px 0;
    background: #005047;
    margin: 0 auto;
    position: relative;
    border-radius: 20px;
    width: 90%;
    padding-top: 30px
}

.absolobtns button {
    position: absolute;
    top: 010px;
    left: 2px
}

.shadow-text {
    font-weight: 1000;
    text-shadow: 2px 2px 5px #05bdf1
}

.absolobtns button:nth-child(even) {
    left: unset;
    right: 2px
}

.criclecon {
    top: -30px;
    left: calc(50% - 30px);
    width: 60px;
    height: 60px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    background: #3a76ca
}

.criclecon img {
    display: block;
    margin: 0 auto;
    width: 60%
}

.netname {
    color: #3a76ca;
    font-weight: 2000;
    text-shadow: 0 0 10px #000;
    width: 300px;
    left: calc(50% - 150px);
    top: 180px;
    position: absolute;
    background-position: center;
    background-size: contain;
    margin-top: 10px
}

.logo {
    height: 80px;
    margin-top: 0;
    width: 100px;
    display: none;
    margin: 0 auto;
    background-size: 100% 100%;
    margin-right: -80px;
    background-position: center right
}

.login-form {
    width: 100%;
    margin: 0 auto;
    padding: 0
}

.login-field {
    width: 100%;
    margin: 5px auto 5px auto;
    position: relative
}

#se {
    display: none;
    margin: 10px auto;
    width: 150px;
    border: 0;
    outline: 0;
    appearance: none;
    padding-bottom: 5px;
    background: url(../img/se.svg) no-repeat;
    background-size: 100% 100%;
    height: 25px
}

.login-input {
    font-weight: 800;
    width: 100%;
    height: 50px;
    color: #0e59b0;
    background: 0;
    background: #fff;
    border: 0;
    box-shadow: 0 0 5px #afafaf;
    border-radius: 20px
}

::placeholder {
    color: #0e59b0;
    opacity: 0.5;

}

.login-input:active,
.login-input:focus,
.login-input:hover {
    outline: 0
}

.app-submit,
.login-submit {
    position: relative;
    width: 100%;
    border-radius: 20px;
    font-size: 20px;
    height: 50px;
    margin: 10px auto 0;
    border: 0;
    color: #fff;
    background: #0e59b0
}

.app-submit {
    padding: 5px
}

.app-submit:active,
.app-submit:focus,
.app-submit:hover,
.login-submit:active,
.login-submit:focus,
.login-submit:hover {
    outline: 0
}

.switch {
    position: relative;
    display: inline-block;
    margin: 5px
}

.switch i {
    font-size: 16px;
    display: block;
    margin-top: -5px
}

.switch>span {
    position: absolute;
    top: 14px;
    pointer-events: none;
    font-family: "Helvetica", Arial, sans-serif;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .06);
    width: 50%;
    text-align: center
}

input.check-toggle-round-flat:checked~.off {
    color: #fe3d40
}

input.check-toggle-round-flat:checked~.on {
    color: #fff
}

.switch>span.on {
    left: 0;
    padding-left: 2px;
    color: #fe3d40
}

.switch>span.off {
    right: 0;
    padding-right: 4px;
    color: #fff
}

.check-toggle {
    position: absolute;
    margin-left: -9999px;
    visibility: hidden
}

.check-toggle+label {
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

input.check-toggle-round-flat+label {
    padding: 2px;
    width: 60px;
    height: 35px;
    background-color: #fe3d40;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    -ms-border-radius: 60px;
    -o-border-radius: 60px;
    border-radius: 60px
}

input.check-toggle-round-flat+label:before,
input.check-toggle-round-flat+label:after {
    display: block;
    position: absolute;
    content: ""
}

input.check-toggle-round-flat+label:before {
    top: 2px;
    left: 2px;
    bottom: 2px;
    right: 2px;
    background-color: 0;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    -ms-border-radius: 60px;
    -o-border-radius: 60px;
    border-radius: 60px
}

input.check-toggle-round-flat+label:after {
    top: 4px;
    left: 4px;
    bottom: 4px;
    width: 26px;
    background-color: #fff;
    -webkit-border-radius: 52px;
    -moz-border-radius: 52px;
    -ms-border-radius: 52px;
    -o-border-radius: 52px;
    border-radius: 52px;
    -webkit-transition: margin .2s;
    -moz-transition: margin .2s;
    -o-transition: margin .2s;
    transition: margin .2s
}

input.check-toggle-round-flat:checked+label:after {
    margin-left: 25px
}

.app-logout {
    position: absolute;
    width: 45px;
    border-radius: 20px;
    height: 45px;
    top: 10px;
    right: 15px;
    background: url(../img/back.svg) no-repeat center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    background-size: 50% 100%;
}

.password-field {
    display: none
}

#login.inactive,
.app {
    opacity: 0;
    transform: scale(1.1)
}

#login {
    transition: opacity .1s, transform .3s
}

.app {
    display: none;
    transition: opacity .1s, transform .3s cubic-bezier(.68, -.45, .465, 1.25)
}

#login,
.app.active {
    opacity: 1
}

::-webkit-scrollbar {
    display: none
}


.squre {
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    z-index: 0;
    margin: 10px auto;
    flex-wrap: wrap
}

.sbox {
    width: 15px;
    height: 15px;
    background: #56aeee;
    border-radius: 50%;
}

.sbox:nth-child(1) {
    background: #ff6b6b
}

.sbox:nth-child(3) {
    background: #ffd167
}

.sbox:nth-child(4) {
    background: #a1d9b4
}


.app-logout {
    cursor: pointer;
    transition: transform .4s .2s, opacity .1s .7s, background-color .1s .2s;
    transform: scale(0)
}

.app.active,
.app.active .app-logout {
    transform: scale(1)
}

table {
    border-collapse: collapse;
    width: 90%;
    margin: 10px auto;
    overflow: hidden;
    margin-bottom: 30px;
    border-radius: 10px;
    font-size: 14px
}

.table {
    height: 0;
    overflow: scroll;
    transition: height 2s
}

.sd {
    background: #3a76ca;
    border: 0;
    outline: 0;
    width: 80px;
    height: 42px;
    box-shadow: 0 0 4px #000;
    margin: -12px 4px;
    border-radius: 5px;
    color: #fff;
    appearance: none
}

tr {
    border-bottom: 2px solid #3a76ca
}

td,
th {
    padding: 7px 5px
}

th {
    background: #3a76ca;
    color: #fff
}


.flex {
    display: flex
}

.data {
    margin: 22px 5px;
    position: relative;
    align-items: center;
    height: auto;
    font-size: 14px;
    padding: 10px 5px;
    /* background: rgba(45, 149, 209, 0.127); */
    justify-content: space-between;
    border-radius: 8px
}

.dprice div {
    width: 48%;
    font-size: 20px;
    /* border: 1px solid; */
    padding: 10px 0;
    color: #115000;
    border-radius: 20px;
    background: #d8fff0;
}

.dprice div:nth-child(2) {
    background: #ccf4ff;
    color: #1f4d8d;
}

.dprice img {
    width: 30px;
    display: block;
    margin: 10px auto;
}

.price .data {
    margin: 10px auto;
}



.sim {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: #fff;
    border-radius: 20px;
    margin: 15px auto;
    padding: 15px;
    position: relative;
    padding-right: 70px;
}

.sim::after {
    content: "";
    width: 40px;
    height: 40px;
    top: calc(50% - 20px);
    right: 15px;
    border-radius: 50%;
    position: absolute;
    background: #005047;
    background: linear-gradient(#119c65, #005047);
}

.sim:nth-child(even)::after {
    background: #ff5e00;
    background: linear-gradient(#ff5e00, #ca4c03);
}

.sim::before {
    content: "";
    width: 20px;
    height: 20px;
    top: calc(50% - 10px);
    right: 24px;
    animation: opacity 0.5s linear infinite alternate;
    border-radius: 50%;
    z-index: 2;
    position: absolute;
    background: #fff;
}

.cirvalue {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    font-size: 20px;
    color: #56aeee
}

.imgstatus {
    position: relative;
    width: 70px;
    height: 70px;
    border-radius: 100%;
}


.fath {
    width: 100%;
    height: 40px;
    overflow: hidden;
    direction: rtl;
    font-size: 20px;
    font-weight: bold
}

.slider {
    display: flex;
    flex-direction: column
}

style {
    text-align: center
}

.sectn {
    height: 40px;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 1000;
    animation: slideUp 8s infinite  ease-in-out;
    color: #0e59b0;
    justify-content: center;
}

@keyframes slideUp {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    10% {
        transform: translateY(0); /* يظل ثابت هنا */
    }
    30% {
        transform: translateY(-100%);
    }
    50% {
        transform: translateY(-200%);
    }
    70% {
        transform: translateY(-300%);
    }
    90% {
        transform: translateY(-400%);
    }
    100% {
        transform: translateY(-400%); /* يظل عند آخر نقطة، ما يرجع */
    }
}




.title {
    border-radius: 0;
    padding: 10px;
    cursor: pointer;
    width: 100%;
    border-radius: 15px;
    font-weight: 900;
    font-size: 20px;
    height: auto;
    position: relative;
    color: #350166;
    background: #fff;
    box-shadow: 0 0 15px #bdbdbd87;
    margin: 15px auto
}

@keyframes marquee {
    0% {
        transform: translateX(0)
    }

    100% {
        transform: translateX(calc(100% + 300px))
    }
}

@-webkit-keyframes marquee {
    0% {
        transform: translateX(0)
    }

    100% {
        transform: translateX(calc(100% + 300px))
    }
}


.ads {
    margin: 10px auto;
}

.adimg {
    width: 300px;
    height: 200px;
    margin: 20px auto;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 5px #c6c6c6, 0 5px 5px #c6c6c6;
}

.section {
    position: absolute;
    bottom: 0;
    padding-right: 100%;
    width: 100%;
    margin: 0 auto;
    background: #1c888e;
    overflow: hidden
}

.section .marquee {
    -webkit-animation: marquee 20s linear infinite;
    animation: marquee 20s linear infinite;
    display: inline-block;
    white-space: nowrap;
    font-size: 13px;
    font-weight: 1000;
    color: #ffd175
}

.section .marquee:hover {
    -webkit-animation-play-state: paused;
    animation-play-state: paused
}

#error {
    color: red
}

.app-submit:after,
.login-submit:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -1.3rem;
    margin-top: -1.2rem;
    width: 38px;
    height: 38px;
    border: 2px dotted #fff;
    border-radius: 50%;
    border-left: none;
    border-bottom: none;
    transition: opacity .1s .2s;
    opacity: 0
}

.app-submit.processing,
.login-submit.processing {
    opacity: .8;
    border: 0;
    font-size: 0 !important
}

.app-submit.processing:after,
.login-submit.processing:after {
    opacity: 1;
    -webkit-animation: rotate .5s .4s infinite linear;
    animation: rotate .5s .4s infinite linear
}

.app-submit.success:after,
.login-submit.success:after {
    transition: opacity .1s 0s;
    opacity: 0;
    -webkit-animation: none;
    animation: none
}

.app-submit.success,
.login-submit.success {
    transition: transform 1s ease-out, opacity .1s .3s, background-color 50ms;
    transform: scale(100);
    opacity: 1;
    z-index: 2
}

.login tr,
.login td,
#status tr,
#status td {
    border: 0
}


.btns button {
    background: 0;
    border: 0
}

.a-icon {
    width: 25px;
    height: 25px;
    top: 2px
}

button .btns2 a {
    font-size: 16px;
    width: 100px;
    padding-top: 5px;
    color: #fff;
    border-radius: 25px;
    background: #686868;
    text-decoration: none;
    height: 30px;
    display: block;
    margin: 0 auto;
    position: relative
}

.btnicon {
    font-weight: 1000
}

option {
    color: #fff
}

.rl {
    background: #974ae1;
    background: linear-gradient(-30deg, #974ae1, #521b86);
}

.rd {
    background: #4a8ff1;
    background: linear-gradient(-30deg, #4a8ff1, #1f4d8d);
}

.d {
    background: url(../img/d.svg) no-repeat
}

.l {
    background: url(../img/l.svg) no-repeat
}

.rt {
    background: #854af9;
    background: linear-gradient(-30deg, #854af9, #471e9b);
}

.t {
    background: url(../img/c.svg) no-repeat
}

.st {
    background: url(../img/st.svg) no-repeat
}

.rw {
    background: #119c65;
    background: linear-gradient(-30deg, #119c65, #32eea3);
}

.w {
    background: url(../img/w.svg) no-repeat
}


.rn {
    background: #119c65;
    background: linear-gradient(-30deg, #119c65, #32eea3);
}

.n {
    background: url(../img/n.svg) no-repeat
}

.i {
    background: url(../img/i.svg) no-repeat
}

.ri {
    background: #0e59b0;
    background: linear-gradient(-30deg, #0e59b0, #2d95d1);
}

.btns {
    margin: 15px auto
}

.btns3 button {
    border: 1px solid #000;
    height: 90px
}

.btns3 {
    display: flex;
    align-items: center;
    justify-content: center
}

.btns button {
    font-weight: 700;
    width: 28%;
    box-shadow: 0 0 8px #dddddd;
    background: #fbfbfb;
    border-radius: 15px;
    padding: 5px;
    margin: 10px 5px
}

a {
    text-decoration: none
}

.btnicon {
    width: 100%;
    height: 100%;
    background-size: 50% 100%;
    background-position: center;
    margin: 0 auto 5px auto;
    border-radius: 15px
}

.rbtn {
    border-radius: 100%;
    margin: 5px auto;
    width: 40px;
    height: 40px;
}



option {
    background: #3a76ca
}

.login-icon {
    position: absolute;
    top: 2px;
    right: 5px;
    border: 2px solid #fff;
    padding: 4px;
    border-radius: 100%;
    width: 25px;
    height: 25px
}



.password-field {
    display: none
}

#login.inactive,
.app {
    opacity: 0;
    transform: scale(1.1)
}

#login {
    transition: opacity .1s, transform .3s
}

.app {
    display: none;
    transition: opacity .1s, transform .3s cubic-bezier(.68, -.45, .465, 1.25)
}

#login,
.app.active {
    opacity: 1
}

::-webkit-scrollbar {
    display: none
}

.app-logout {
    cursor: pointer;
    transition: transform .4s .2s, opacity .1s .7s, background-color .1s .2s;
    transform: scale(0)
}

.app.active,
.app.active .app-logout {
    transform: scale(1)
}

.error-container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    padding-top: 200px;
    background-color: #6b98b45b;
    display: none
}

.error-container.active {
    display: block;
    z-index: 2
}

.error-container .error .fade-in {
    transform: scale(0);
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 200px #000;
    border-radius: 15px
}

.error-container.zoom .error .fade-in {
    transform: scale(1);
    transition: transform .1s .1s ease-out
}

.error {
    position: relative;
    display: block;
    margin: 0 auto;
    text-align: center;
    font-size: 20px;
    width: 60%;
    max-width: 350px;
    min-width: 300px;
    font-weight: 1000;
    color: #fff
}